{% extends 'base.html' %}

{% block title %}Card{% endblock %}

{% block content %}
<h1>Flash Card</h1>
Question: {{ card.question }}<br>
Answer: {{ card.answer }}
<p>
    <button>
        <a href="{{ url_for('welcome') }}">Home</a>"
    </button>
    {% if index < max_index %} <button>
        <a href="{{ url_for('card_view', index=index + 1) }}">Next card</a>
        </button>
        {% else %}
        <button>
            <a href="{{ url_for('card_view', index=0) }}">Start Over</a>
        </button>
        {% endif %}
</p>
<button>
    <a href="{{ url_for('remove_card', index=index) }}">Remove this card</a>
</button>
{% endblock %}