<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flash Card</title>
</head>

<body>
    <h1>Flash Card</h1>
    Question: {{ card.question }}<br>
    Answer: {{ card.answer }}
    <p>
        <button>
            <a href="{{ url_for('welcome') }}">Home</a>"
        </button>
        {% if index < max_index %} <button>
            <a href="{{ url_for('card_view', index=index + 1) }}">Next card</a>
            </button>
            {% else %}
            <button>
                <a href="{{ url_for('card_view', index=0) }}">Start Over</a>
            </button>
            {% endif %}
    </p>
</body>

</html>